@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(28, 33, 39) !important;
}

.active {
  background-color: rgb(160, 210, 254) !important;
  height: 0.2rem;
}

.bar {
  background-color: hsla(0, 0%, 100%, .24);
  height: 0.2rem;
}

.text {
  color: rgb(167, 177, 188) !important
}

.input {
  border-color: rgb(50, 56, 63) !important;
}

.btn {
  background: linear-gradient(98.7deg, #5240f9 19.95%, #f3526d 89.51%);
}